# My Jupyter Notebook on IBM Watson Studio

**Augusto**

Researcher

*I am interested in data science because I want to make be able to effectively curate and interpret data, to present it to relevant stakeholders*

### My code will create two variables (a and b) and sum them

In [3]:
a = 1
b = 2
a + b

3

- Bulleted 
- List

---
1. Numbered
2. List



```python
# Syntax highlight
a = 1
b = 2
a + b
```

| This is      | a table |
| ----------- | ----------- |
| entry 1 | entry 3|
| entry 2 | entry 4 |


~Striked text~